@font-face {
  font-family: OpenSans, sans-serif;
  src: url(../fonts/OpenSans-Regular.ttf);
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: OpenSans, sans-serif;
  src: url(../fonts/OpenSans-Regular.woff);
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: OpenSans, sans-serif;
  src: url(../fonts/OpenSans-Regular.woff2);
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: OpenSans, sans-serif;
  src: url(../fonts/OpenSans-Bold.ttf);
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: OpenSans, sans-serif;
  src: url(../fonts/OpenSans-Bold.woff);
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: OpenSans, sans-serif;
  src: url(../fonts/OpenSans-Bold.woff2);
  font-weight: 700;
  font-style: normal;
}

.body {
  font-family: OpenSans, sans-serif;
  font-size: 14px;
  line-height: 1.6;
  color: #000;
}

*,
*::after,
*::before,
html,
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/*HEADER START*/

.header {
  display: flex;
  width: 100%;
  flex-wrap: wrap;
  padding-top: 226px;
  padding-bottom: 219px;
  background-image: url(../img/banner-mobile.jpg);
  background-size: cover;
  background-color: #000;
  background-repeat: no-repeat;
  background-position: center center;
  position: relative;
  justify-content: center;
  margin-bottom: 40px;
}

.header::after {
  content: "";
  position: absolute;
  background-color: #000;
  opacity: 0.6;
  z-index: 0;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
}

.header h1 {
  font-family: OpenSans, sans-serif;
  font-weight: bold;
  font-size: 26px;
  line-height: 36px;
  margin-left: 40px;
  margin-right: 40px;
  margin-top: 43px;
  text-align: center;
  text-transform: uppercase;
  color: #ffffff;
  z-index: 2;
  position: relative;
}

.logo-and-menu {
  max-width: 1200px;
  display: flex;
  align-items: flex-end;
  z-index: 2;
}

.logo {
  display: block;
  max-width: 269px;
  width: 100%;
  margin-top: auto;
}

.menu {
  display: none;
}

.menu_btn {
  position: absolute;
  top: 31px;
  right: 16px;
  content: "";
  display: block;
  width: 23px;
  height: 3px;
  background-color: #ffffff;
}

.menu_btn::after {
  content: "";
  display: block;
  width: 23px;
  height: 3px;
  background-color: #ffffff;
}

.menu_btn::before {
  content: "";
  display: block;
  margin-bottom: 5px;
  margin-top: 8px;
  width: 23px;
  height: 3px;
  background-color: #ffffff;
}

@media (min-width: 768px) {
  .header {
    width: 100%;
    background-image: url(../img/banner-bg-tablet.jpg);
    display: block;
    padding: 43px 35px 124px 35px;
    margin: auto;
    justify-content: space-between;
    align-items: center;
  }

  .header h1 {
    font-size: 40px;
    line-height: 55px;
    max-width: 604px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 100px;
  }

  .logo {
    max-width: 158px;
    width: 100%;
  }

  .logo-and-menu {
    justify-content: space-between;
    align-items: center;
    position: relative;
    margin: auto;
    z-index: 2;
  }

  .menu {
    display: none;
  }

  .menu_btn {
    top: 0;
  }
}

@media (min-width: 1200px) {
  .header {
    background-image: url(../img/banner-bg.jpg);
    padding: 29px 245px 145px 245px;
  }

  .logo-and-menu {
    margin: 0;
    padding: 0;
  }

  .menu_btn {
    display: none;
  }

  .menu {
    display: flex;
    list-style-type: none;
  }

  .menu li {
    display: inline-block;
    margin-left: 12px;
  }

  .menu a {
    font-family: OpenSans, sans-serif;
    font-weight: normal;
    text-decoration: none;
    color: #fff;
    text-transform: uppercase;
    font-size: 13px;
  }

  .menu a:hover {
    text-decoration: underline;
  }

  .logo {
    max-width: 179px;
    width: 100%;
  }

  .header h1 {
    font-size: 43px;
    line-height: 75px;
    max-width: 700px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 110px;
  }
}

/* HEADER END */

/* TRENDS */

.trends-title {
  font-size: 16px;
  color: #0f0d0e;
  font-weight: 700;
  font-family: OpenSans, sans-serif;
  text-transform: uppercase;
  text-align: center;
}

.trends-title:after {
  content: "";
  display: block;
  width: 66px;
  height: 3px;
  background-color: #b59f5b;
  margin: 8px auto 0;
}

.trends-list {
  display: flex;
  flex-wrap: wrap;
  margin-top: 40px;
}

.trends-list artical {
  display: flex;
  align-items: flex-end;
  background-color: #eff6f1;
  position: relative;
  width: 100%;
  padding: 0 16px 16px 16px;
  margin-bottom: 3px;
  background-repeat: no-repeat;
  background-position: center center;
  z-index: 0;
}

.trends-list artical::after {
  content: "";
  position: absolute;
  background-color: #000;
  opacity: 0.6;
  z-index: 0;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
}

.trend-content {
  border: 3px solid #b59f5b;
  position: relative;
  z-index: 2;
}

.post-tags li {
  display: inline-block;
  margin-right: 20px;
}

.post-tags a {
  font-family: OpenSans, sans-serif;
  font-weight: 700;
  text-decoration: none;
  color: #b59f5b;
  text-transform: uppercase;
  font-size: 14px;
  font-weight: 700;
}

.post-tags a:hover {
  text-decoration: underline;
}

.trend-title {
  margin-top: 10px;
  font-family: OpenSans, sans-serif;
  line-height: 24px;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 20px;
}

.trend-title a {
  text-decoration: none;
  color: #fff;
}

.trend-title a:hover {
  color: #b59f5b;
}

.trend__garden {
  background-image: url(../img/trend1.jpg);
}

.trend__cheese {
  background-image: url(../img/trend2.jpg);
}

.trend__hiking {
  background-image: url(../img/trend3.jpg);
}

.trend__lemons {
  background-image: url(../img/trend4.jpg);
}