@font-face {
  font-family: OpenSans;
  src: url(../fonts/OpenSans-Regular.ttf);
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: OpenSans;
  src: url(../fonts/OpenSans-Regular.woff);
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: OpenSans;
  src: url(../fonts/OpenSans-Regular.woff2);
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: OpenSans;
  src: url(../fonts/OpenSans-Bold.ttf);
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: OpenSans;
  src: url(../fonts/OpenSans-Bold.woff);
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: OpenSans;
  src: url(../fonts/OpenSans-Bold.woff2);
  font-weight: 700;
  font-style: normal;
}

.body {
  font-family: OpenSans, sans-serif;
  font-size: 14px;
  line-height: 1.6;
  color: #000;
}

*,
*::after,
*::before,
html,
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/*HEADER START*/

.header {
  display: flex;
  width: 100%;
  flex-wrap: wrap;
  padding-top: 226px;
  padding-bottom: 219px;
  background-image: url(../img/banner-mobile.jpg);
  background-size: cover;
  background-color: #000;
  background-repeat: no-repeat;
  background-position: center center;
  position: relative;
  justify-content: center;
  margin-bottom: 40px;
}

.header::after {
  content: "";
  position: absolute;
  background-color: #000;
  opacity: 0.6;
  z-index: 0;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
}

.header h1 {
  font-family: OpenSans, sans-serif;
  font-weight: bold;
  font-size: 26px;
  line-height: 36px;
  margin-left: 40px;
  margin-right: 40px;
  margin-top: 43px;
  text-align: center;
  text-transform: uppercase;
  color: #ffffff;
  z-index: 2;
  position: relative;
}

.logo-and-menu {
  max-width: 1200px;
  display: flex;
  align-items: flex-end;
  z-index: 2;
}

.logo {
  display: block;
  max-width: 269px;
  width: 100%;
  margin-top: auto;
}

.menu {
  display: none;
}

.menu_btn {
  position: absolute;
  top: 31px;
  right: 16px;
  content: "";
  display: block;
  width: 23px;
  height: 3px;
  background-color: #ffffff;
}

.menu_btn::after {
  content: "";
  display: block;
  width: 23px;
  height: 3px;
  background-color: #ffffff;
}

.menu_btn::before {
  content: "";
  display: block;
  margin-bottom: 5px;
  margin-top: 8px;
  width: 23px;
  height: 3px;
  background-color: #ffffff;
}

@media (min-width: 641px) {
  .header {
    width: 100%;
    background-image: url(../img/banner-bg-tablet.jpg);
    display: block;
    padding: 43px 35px 124px 35px;
    margin: auto;
    margin-bottom: 60px;
    justify-content: space-between;
    align-items: center;
  }

  .header h1 {
    font-size: 40px;
    line-height: 55px;
    max-width: 604px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 100px;
  }

  .logo {
    max-width: 158px;
    width: 100%;
  }

  .logo-and-menu {
    justify-content: space-between;
    align-items: center;
    position: relative;
    margin: auto;
    z-index: 2;
  }

  .menu {
    display: none;
  }

  .menu_btn {
    top: 0;
  }
}

@media (min-width: 1200px) {
  .header {
    background-image: url(../img/banner-bg.jpg);
    padding: 29px 0 145px 0;
  }

  .logo-and-menu {
    margin: 0 auto;
  }

  .menu_btn {
    display: none;
  }

  .menu {
    display: flex;
    list-style-type: none;
  }

  .menu li {
    display: inline-block;
    margin-left: 12px;
  }

  .menu a {
    font-family: OpenSans, sans-serif;
    font-weight: normal;
    text-decoration: none;
    color: #fff;
    text-transform: uppercase;
    font-size: 13px;
  }

  .menu a:hover {
    text-decoration: underline;
  }

  .logo {
    max-width: 179px;
    width: 100%;
  }

  .header h1 {
    font-size: 43px;
    line-height: 75px;
    max-width: 700px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 110px;
  }
}

/* HEADER END */

/* TRENDS START */

.section-title {
  font-size: 16px;
  color: #0f0d0e;
  font-weight: 700;
  font-family: OpenSans, sans-serif;
  text-transform: uppercase;
  text-align: center;
}

.section-title:after {
  content: "";
  display: block;
  width: 66px;
  height: 3px;
  background-color: #b59f5b;
  margin: 8px auto 0;
}

.trends-list {
  display: flex;
  flex-wrap: wrap;
  margin-top: 40px;
  gap: 3px;
}

.trends-list artical {
  display: flex;
  align-items: flex-end;
  background-color: #eff6f1;
  position: relative;
  min-height: 233px;
  width: 100%;
  padding: 0 16px 16px 16px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  z-index: 0;
}

.trends-list artical::after {
  content: "";
  position: absolute;
  background-color: #000;
  opacity: 0.6;
  z-index: 0;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
}

.trend-content {
  width: 100%;
  border: 3px solid #b59f5b;
  padding: 30px 20px;
  position: relative;
  z-index: 2;
}

.post-tags li {
  display: inline-block;
  margin-right: 20px;
}

.post-tags a {
  font-family: OpenSans, sans-serif;
  text-decoration: none;
  color: #b59f5b;
  text-transform: uppercase;
  font-size: 14px;
  font-weight: 700;
}

.post-tags a:hover {
  text-decoration: underline;
}

.trend-title {
  margin-top: 10px;
  font-family: OpenSans, sans-serif;
  line-height: 20px;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 16px;
}

.trend-title a {
  text-decoration: none;
  color: #fff;
}

.trend-title a:hover {
  color: #b59f5b;
}

.trend__garden {
  background-image: url(../img/trend1.jpg);
}

.trend__cheese {
  background-image: url(../img/trend2.jpg);
}

.trend__hiking {
  background-image: url(../img/trend3.jpg);
}

.trend__lemons {
  background-image: url(../img/trend4.jpg);
}

@media (max-width: 640px) and (orientation: landscape) {
  .trends-list artical {
    width: 49%;
    justify-content: space-between;
  }
}

@media (min-width: 641px) and (max-width: 1199px) and (orientation: landscape) {
  .trends-list {
    flex-wrap: nowrap;
  }
}

@media (min-width: 641px) {
  .section-title {
    font-size: 18px;
  }

  .trends-list artical {
    width: 49%;
  }

  .trend-title {
    font-size: 17px;
    line-height: 22px;
  }
}

@media (min-width: 1200px) {
  .trends-list {
    flex-wrap: nowrap;
  }

  .section-title {
    font-size: 20px;
  }
}

/* TRENDS END */

.page {
  display: flex;
  flex-wrap: wrap;
  position: relative;
  margin: 0 auto;
  margin-top: 40px;
  box-sizing: border-box;
  padding: 0 15px;
  justify-content: center;
}

/* POSTS START */

.post-list {
  display: block;
  width: 100%;

}

.post-image {
  background-color: #eff6f1;
  margin-bottom: 14px;
  width: 100%;
}

.post {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 35px;
  border-bottom: #eeeeee solid 3px;
}

.post-content {
  font-family: OpenSans, sans-serif;
  font-size: 14px;
  line-height: 20px;
  padding-bottom: 20px;
}

.post-title {
  margin-top: 15px;
  font-family: OpenSans, sans-serif;
  line-height: 20px;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 16px;
}

.post-title a {
  text-decoration: none;
  color: #0f0d0e;
}

.post-title a:hover {
  color: #b59f5b;
}

.date {
  font-family: OpenSans, sans-serif;
  color: #888888;
  font-weight: 400;
  font-size: 12px;
}

.autor {
  color: #000000;
  font-weight: 700;
  margin-left: 14px;
}

.date-and-autor {
  font-family: OpenSans, sans-serif;
  font-size: 12px;
  margin-top: 24px;
}

.post-content p {
  font-family: OpenSans, sans-serif;
  margin-top: 22px;
  font-size: 14px;
  line-height: 20px;
}

@media (min-width: 641px) {
  .post-title {
    margin-top: 16px;
    line-height: 22px;
    font-size: 17px;
  }

  .post-content p {
    font-size: 15px;
    line-height: 22px;
  }

  .page {
    width: 100%;
    justify-content: center;
    padding: 0 33px;
    flex-wrap: nowrap;
  }

  .post:last-child {
    border-bottom: none;
    padding-bottom: 0;
  }

}

@media (min-width:1200px) {
  .page {
    max-width: 1200px;
    justify-content: space-between;
    padding: 0;
  }

  .post {
    flex-wrap: nowrap;
    margin-bottom: 60px;
    border-bottom: none;
  }

  .post-image {
    max-width: 380px;
  }

  .post-content {
    margin-left: 30px;
    padding-bottom: 0;
  }

  .post-content p {
    margin-top: 40px;
  }
}

/* POSTS END */

/* NEW POSTS START */

.new-post {
  display: flex;
  margin-top: 25px;
}

.new-post-image {
  width: 71px;
  object-fit: contain;
  background-color: #f4f7f6;
}

.new-post-title {
  font-family: OpenSans, sans-serif;
  line-height: 18px;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 14px;
  margin-top: 4px;
}

.new-post-title a {
  text-decoration: none;
  color: #0f0d0e;
}

.new-post-content {
  margin-left: 15px;
}

@media (min-width: 641px) {
  .side-bar {
    margin-left: 50px;
    max-width: 270px;
  }
}

/* NEW POSTS END */

/* SEARCH */

.hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.search {
  display: flex;
  align-items: center;
  margin-top: 50px;
  margin-bottom: 50px;
}

.search-field {
  flex: 1;
}

.field {
  width: 100%;
  flex-grow: 1;
  box-sizing: border-box;
  height: 48px;
  background-color: #f4f7f6;
  border: none;
  border-radius: 0;
  -webkit-appearance: none;
  -moz-appearance: none;
  padding: 0 18px;
  font-size: 13px;
}

.field:focus {
  background-color: #f4f7f6;
  border: 1px solid #b59f5b;
}

.search button {
  border: none;
  width: 48px;
  height: 48px;
  background-color: #b59f5b;
  background-image: url(../svg/search.svg);
  background-repeat: no-repeat;
  background-size: 16px;
  background-position: center;
}

.search button:hover {
  background-color: #323232;
}

/* SEARCH END */

/* SUBSCRIBE */

.subscribe {
  display: block;
  width: 100%;
  margin-top: 20px;
  margin-bottom: 50px;
}

.email-field {
  box-sizing: border-box;
  width: 100%;
  height: 48px;
  background-color: #f4f7f6;
  border: none;
  border-radius: 0;
  -webkit-appearance: none;
  -moz-appearance: none;
  padding: 0 18px;
  font-size: 13px;
}

.email-field:focus {
  background-color: #f4f7f6;
  border: 1px solid #b59f5b;
}

.subscribe button {
  border: none;
  width: 100%;
  height: 48px;
  background-color: #b59f5b;
  font-size: 14px;
  color: #ffffff;
  font-weight: 700;
  text-transform: uppercase;
  margin-top: 15px;
}

.subscribe button:hover {
  background-color: #323232;
}

/* SUBSCRIBE END */

/* TAGS START */

.section-tags {
  margin-top: 15px;
  margin-bottom: 50px;
}

.tags li {
  display: inline-block;
  background-color: rgba(244, 243, 241, 0);
  padding: 2px 12px;
  border: 3px solid #eeeeee;
  text-align: center;
  margin-top: 5px;
}

.tags li:hover {
  border: 3px solid #b59f5b;
}

.tags a {
  font-size: 12px;
  color: #0f0d0e;
  font-family: OpenSans, sans-serif;
  font-weight: 700;
  text-decoration: none;
  text-transform: uppercase;
}

/* TAGS END */

/* THEMES START */

.themes {
  display: block;
  margin-top: 15px;
}

.themes li {
  display: block;
  font-weight: 700;
  font-family: OpenSans, sans-serif;
  border-bottom: #eeeeee solid 1px;
}

.themes a {
  font-size: 14px;
  line-height: 47px;
  text-decoration: none;
  color: #000000;
  padding-right: 5px;
}

.themes a:hover {
  color: #b59f5b;
}

.themes span {
  vertical-align: top;
  font-size: 12px;
  line-height: 36px;
  color: #b59f5b;
}

/* THEMES END */

/* SHOP START */

.shop {
  width: 100%;
  margin-top: 40px;
  padding: 0 15px;
  justify-content: center;
}

.shop-list {
  display: flex;
  flex-wrap: wrap;
}

.shop-item {
  display: flex;
  margin-top: 25px;
  flex-direction: column;
  align-items: center;
}

.shop-item-image {
  background-color: #f4f7f6;
}

.item-description {
  font-family: OpenSans, sans-serif;
  margin-top: -30px;
  border: 3px solid #b59f5b;
  padding: 40px 22px 22px 22px;
  flex-grow: 1;
}

.item-description p {
  font-size: 15px;
  line-height: 22px;
  font-family: OpenSans, sans-serif;
  margin-top: 7px;
}

.item-title {
  font-size: 17px;
  text-transform: uppercase;
  color: #0f0d0e;
  font-weight: 700;
}

.item-description a {
  text-decoration: none;
  color: #b59f5b;
}

.item-description a:hover {
  text-decoration: underline;
}

.price-and-btn {
  margin-top: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.prices {
  display: flex;
  flex-direction: column;
}

.old-price {
  font-family: OpenSans, sans-serif;
  font-size: 14px;
  text-decoration: line-through;
  color: #0f0d0e;
  font-weight: 700;
}

.price {
  font-size: 20px;
  font-family: OpenSans, sans-serif;
  color: #0f0d0e;
  font-weight: 700;
}

.shop-btn {
  font-family: OpenSans, sans-serif;
  text-transform: uppercase;
  font-size: 14px;
  line-height: 40px;
  color: #ffffff;
  font-weight: 700;
  width: 140px;
  height: 48px;
  background-color: #b59f5b;
  border: none;
}

.shop-btn:hover {
  background-color: #323232;
}

@media (min-width:641px) {
  .shop {
    padding: 0 33px;
  }

  .shop-list {
    gap: 23px;
  }

  .shop-item {
    width: 48%;
  }
}

@media (min-width: 1200px) {
  .shop {
    max-width: 1200px;
    margin: 0 auto;
    justify-content: center;
    padding: 0;
  }

  .shop-list {
    flex-wrap: nowrap;
  }
}

/* SHOP END */

/* FOOTER */

.address {
  max-width: 1200px;
  background-color: #f4f7f6;
  position: relative;
  margin: auto;
  margin-top: 45px;
  display: flex;
}

.social-icons {
  list-style-type: none;
  margin-left: auto;
  margin-right: auto;
  align-items: center;
  position: relative;
}

.social-icons li {
  display: inline-block;
}

.social-icons a {
  display: block;
  background-repeat: no-repeat;
  background-size: 20px;
  background-position: center;
  width: 25px;
  height: 20px;
  margin: 30px 15px;
}

.social-icon__dribbble {
  background-image: url("../svg/001-dribbble.svg");
}

.social-icon__pinterest {
  background-image: url("../svg/001-pinterest.svg");
}

.social-icon__tumblr {
  background-image: url("../svg/003-tumblr.svg");
}

.copyright a {
  text-decoration: none;
  font-size: 12px;
  color: #999999;
  font-weight: 700;
  font-family: OpenSans, sans-serif;
}

.copyright {
  display: block;
  text-align: center;
  position: relative;
  margin-top: 50px;
  margin-bottom: 40px;
}

/* POPUP */

.popup-container {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  background-color: rgba(0, 0, 0, 0.6);
  width: 100%;
  height: 100%;
  z-index: 4;
}

.popup {
  width: 331px;
  height: 546px;
  padding: 30px 25px;
  background-color: #ffffff;
  z-index: 4;
  position: absolute;
  /*top: 50px;
  right: 0;
  left: 0;*/
}

/*.popup::after {
  content: "";
  position: absolute;
  background-color: #000;
  opacity: 0.6;
  z-index: 3;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
}*/

.form-hint {
  font-family: OpenSans, sans-serif;
  font-size: 13px;
  color: #000000;
  font-weight: 400;
}

.select-visit {
  display: block;
  margin-top: 30px;
}

.select-group {
  width: 280px;
}

.select {
  font-family: OpenSans, sans-serif;
  font-size: 13px;
  line-height: 40px;
  color: #000000;
  font-weight: 400;
  display: inline-block;
  margin-top: 8px;
  box-sizing: border-box;
  width: 280px;
  height: 48px;
  padding-left: 20px;
  border: none;
  background-color: #f4f7f6;

  content: "";
  background-image: url("../svg/form-arrows.svg");
  background-repeat: no-repeat;
  background-position: right 15px center;
  background-size: 10px;
  -webkit-appearance: none;
  -moz-appearance: none;
}

.select:focus {
  border: 1px solid #b59f5b;
}

.distribution {
  display: block;
  margin-top: 30px;
}

.radio-btns {
  display: block;
}

.radio-group-text {
  font-family: OpenSans, sans-serif;
  font-size: 13px;
  color: #000000;
  font-weight: 400;
}

.radio-group-text::before {
  content: "";
  display: inline-block;
  vertical-align: middle;
  margin-right: 6px;
  width: 24px;
  height: 24px;
  background-image: url("../svg/form-empty-circle.svg");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 24px;
}

.radio-group {
  display: inline-block;
  font-size: 13px;
  margin-top: 8px;
}

.radio-group:nth-of-type(n+2) {
  margin-left: 30px;
}

.radio:checked~.radio-group-text::before {
  background-image: url("../svg/form-circle.svg");
}

.radio {
  position: absolute;
  clip: rect(1px, 1px, 1px, 1px);
  height: 1px;
  width: 1px;
}

.form-themes {
  margin-top: 30px;
}

.field-textarea {
  font-family: OpenSans, sans-serif;
  font-size: 13px;
  color: #000000;
  font-weight: 400;
  margin-top: 8px;
  min-width: 280px;
  max-width: 280px;
  min-height: 133px;
  max-height: 133px;
  background-color: #f4f7f6;
  border: none;
  padding: 22px 22px;
}

.popup-btn {
  width: 280px;
  height: 48px;
  background-color: #b59f5b;
  border: none;
  font-family: OpenSans, sans-serif;
  text-transform: uppercase;
  font-size: 14px;
  line-height: 40px;
  color: #ffffff;
  font-weight: 700;
  margin-top: 25px;
}

.popup__close {
  content: "";
  background-image: url("../svg/form-x.svg");
  background-size: contain;
  background-repeat: no-repeat;
  border: none;
  width: 27px;
  height: 27px;
  position: absolute;
  top: -33px;
  right: 0;
  z-index: 4;
}